<mat-form-field class="inputSearch">
    <input required matInput type="text" placeholder="Search here by typology,city,m2" name="search" [(ngModel)]="search" #searchControl="ngModel"/>
</mat-form-field>
<div *ngFor="let real of realestate | searchPipe:search">
    <div class="grid-container" >
        <div *ngIf="real.publishState == 'published'">
        <div class="grid-item">
            <p>Typology: {{real.description.typology}}</p>
            <p>Address: {{real.location.city}}, {{real.location.district}}</p>
            <p>{{real.description.sqFeet}} &#13217; in area</p>
            <p>Contact for further info: {{real.agentCellphone}}</p>
            <div>
                <mat-card-content *ngIf="status.checkIsLoggedIn() ==true">
                    <button mat-button color="warn" (click)="checkFullInfo(real)">Detailed info about the property</button>
                    <button mat-button color="warn" (click)="addToFavorite(real)">Add to favorites list</button>
                  </mat-card-content>
                  <mat-card-content *ngIf="status.checkIsLoggedIn() ==false">
                    <button mat-button color="warn" (click)="redirectToLogin()">Login to further information</button>
                </mat-card-content>
            </div>
        </div> 
      </div>
    </div>
</div>

