<div fxLayoutAlign="center center" fxFlexFill>   
    <mat-card fxFlex="25">
        <h1 class="text-center">Login</h1>
        <form fxLayout="column">
            <mat-form-field>
                <input [(ngModel)]="email" name="email" matInput placeholder="Email" type="email">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="password" name="password" matInput placeholder="Password" type="password" required minlength="8">
            </mat-form-field>
            <button (click)="loginD()" type="submit" class="btn btn-secondary btn-lg">Submit</button>
        </form>
    </mat-card>
</div>
