<app-header></app-header>
<div fxLayoutAlign="center center" fxFlexFill>   
    <mat-card fxFlex="25">
        <h1 class="text-center">Register</h1>
        <form fxLayout="column" (submit)="register()">

            <mat-form-field>
                <input required matInput  type="text" placeholder="Full Name" name="name" [(ngModel)]="name" #nameControl="ngModel" minlength="10" maxlength="50"/>
            </mat-form-field>
            <div *ngIf="nameControl.touched && !nameControl.valid">
                <div *ngIf="nameControl.errors?.['required']">This field is required</div>
                <div *ngIf="nameControl.errors?.['minlength']">Minimum 10 caracteres</div>
                <div *ngIf="nameControl.errors?.['maxlength']">Maximum 50 caracteres</div>
            </div>


            <mat-form-field>
                <input required matInput  type="email" placeholder="Email" name="email" [(ngModel)]="email" #emailControl="ngModel" ngModel [email]="true"/>
            </mat-form-field>
            <div *ngIf="emailControl.touched && !emailControl.valid">
                <div *ngIf="emailControl.errors?.['required']">This field is required</div>
                <div *ngIf="emailControl.errors?.['email']">Invalid email </div>
            </div>

            <mat-form-field>
                <input required minlength="9" maxlength="14" matInput  type="tel" placeholder="Cellphone" name="cellphone" [(ngModel)]="cellphone" #cellphoneControl="ngModel"/>
            </mat-form-field>
            <div *ngIf="cellphoneControl.touched && !cellphoneControl.valid">
                <div *ngIf="cellphoneControl.errors?.['required']">This field is required</div>
                <div *ngIf="cellphoneControl.errors?.['minlength']">Invalid size number</div>
            </div>


            <mat-form-field>
                <input required matInput  type="password" placeholder="Password" name="password" [(ngModel)]="password" #passwordControl="ngModel" minlength="8" maxlength="20"/>
            </mat-form-field>
            <div *ngIf="passwordControl.touched && !passwordControl.valid">
                <div *ngIf="passwordControl.errors?.['required']">This field is required</div>
                <div *ngIf="passwordControl.errors?.['minlength']">Minimum 8 caracteres</div>
                <div *ngIf="passwordControl.errors?.['maxlength']">Maximum 20 caracteres</div>

            </div>
            <div *ngIf="errorMessage">{{errorMessage}}</div>
            <button type="submit" class="btn btn-secondary btn-lg" [disabled]="!nameControl.valid || !emailControl.valid || !passwordControl.valid ||!cellphoneControl.valid">Submit</button>
            <div class="d-flex justify-content-center">
                <button mat-button color="warn" (click)="registerAgent()">Register as Client</button>
            </div>
        </form>
    </mat-card>
</div>
<app-footer></app-footer>

