<app-header></app-header>
<h2 class="text-center p-4">Welcome to your profile</h2>
  

<div fxLayoutAlign="center center">
<mat-card *ngIf="user" class="text-center">
  <mat-card-content >
    <div>Name : {{user.name}}</div>
  </mat-card-content>
  <mat-card-content >
    <div>Email : {{user.email}}</div>
</mat-card-content>
<mat-card-content >
  <div>Cellphone : {{user.cellphone}}</div>
</mat-card-content>
<mat-card-content >
  <div>Password : *********</div>
</mat-card-content>
<mat-card-content >
  <div *ngIf="user.locationPreference[0]!=null">Location preferences : {{user.locationPreference}}</div>
</mat-card-content>
<mat-card-content >
  <div *ngIf="user.locationPreference[0]==null">Location preferences : Still no prefecened locations</div>
</mat-card-content>
<mat-card-content >
  <div>Member since: {{user.createdAt}}</div>
</mat-card-content>
<mat-card-content >
  <button mat-button (click)="editProfile()">Edit Profile</button>
  <button mat-button color="warn" (click)="deleteProfile()">Delete Profile</button>

</mat-card-content>
</mat-card>


<div *ngIf="!user">
  User not found
</div>
</div>

