::ng-deep body {
    background-color: aliceblue;
}
.grid-container {
    display: grid;
    grid-auto-columns: 1fr;
    padding: 10px;
    justify-content: center;

  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 25px;
    text-align: center;
    grid-row: 1;
  }

  .inputSearch{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }